.header-outer-container {
  color: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: transparent; */
    height: 10vh;
    
    transition: all 0.5s;
    transition-timing-function: ease-in;
    z-index: 1000; 
     /* background-color: rgb(148,132,132);  */
    background-color: rgb(20, 20, 20);
  }
  

  .nav_black {
    background-color: rgb(20, 20, 20);
  } 
  
  .header_container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 
  
  /* Left section styling */
  .header_left ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
    color: white;
  } 
  
  .header_left li {
    cursor: pointer;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    transition: color 0.3s;
  } 
  
  /* .header_left li:hover {
    color: #b3b3b3; /* Light gray on hover for Netflix-like effect */
  /* } */ 
  
  .header_left li:first-child img {
    vertical-align: middle;
  }  
  
  .header_right ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    color: white;
  }
  
  .header_right li {
    cursor: pointer;
  }
  
  .header_right svg {
    font-size: 24px;
    color: white;
    transition: color 0.3s;
  }
  
  .header_right svg:hover { 
    color: #b3b3b3; 
  }  

  .header_left,
  .header_right {
    display: flex;
    align-items: center;
  } 